
<h1>User info</h1>
<%= form_with model: @user, local:true do |f| %>
  <th>Name</th>
  <%= f.text_field :name %>
  <th>Image</th>
  <%= f.attachment_field :profile_image %>
  <th>Introduction</th>
  <%= f.text_area :introduction %>
  <%= f.submit 'Update User' %>
<% end %>